*{
    box-sizing: border-box;
}
.grey-nav{
    background-color: #f7f7f7;
    color: #333;
    FONT-SIZE:14.375px;
LINE-HEIGHT:25.525px;
}

.grey-nav p>a {
    color: #333;
   text-decoration: none;
    transition: .5s;
}

.grey-nav p>a:hover{
    color: #aaa;
    text-decoration: underline;
}

/* body info */
.body-info p , .body-info label , .body-info i{
    color: rgb(102, 100, 100);
    FONT-SIZE:14.375px;
LINE-HEIGHT:25.525px;
}

.body-info{
    padding: 40px 25px;
    background-color: violet;
}
.body-rows{
    margin: 0 50px;
}

/* media query */

@media(max-width: 1200px) {
   .body-info iframe{
       width: 400px;
       height: 400px;
   }
   .body-info{
    padding: 30px 15px;
}
.body-rows{
    margin: 0 30px;
}
.body-info p , .body-info label , .body-info i{
    FONT-SIZE:13.375px;
LINE-HEIGHT:18.525px;
}

}
@media(max-width: 1070px) {
    .body-info iframe{
        width: 400px;
        height: 450px;
    }
    .body-info{
     padding: 30px 0;
 }
 .body-rows{
     margin: 0 10px;
 } 
}

@media(max-width: 976px),(min-width: 768px){
.col-md-7{
   /* */ 
}
}
@media(max-width: 767px) {
    .body-info iframe{
        width: 650px;
        height: 500px;
        
    }
    .body-rows{
        margin: auto;
        margin: 0 25px;
    }
    .body-info{
        padding: 30px 15px;
        
    }
    .col-md-7{
        padding-top: 50px !important;
    }
    
 }
 @media(max-width: 700px){
    .body-info iframe{
        width: 450px;
        height: 400px;
    }
 } 