
/* SHIPPING TIMES PAGE */
.ship-articles p{
    FONT-SIZE:14.5px;
LINE-HEIGHT:23.2px;
    font-weight: 200 !important;
}
.ship-articles p span{
color: #333;
}

.ship-articles p>a {
    color: #333;
   text-decoration: underline;
    transition: .5s;
}

.ship-articles p>a:hover{
    color: #aaa;
    text-decoration: none;
}